<?xml version="1.0" encoding="UTF-8"?>
<project name="resource monitor config">
<sourcepath path="src/main"/>
<destpath path="src/test"/>
<svn>
    <bin path ="/usr/bin/svn"/>
    <params param="--username xxxx --password ddddd"/>
</svn>
<logs>
    <logpath path="/data1/resmonitor"/>
    <errorlog path="/data1/resmonitor/resmonitor_error.log"/>
    <redolog path="/data1/resmonitor/resmonitor_redo.log"/>
</logs>
</project>