<?xml version="1.0" encoding="UTF-8"?>
<project name="resource monitor config">
<sourcepath path="../src/test/svn/source"/>
<destpath path="../src/test/svn/dest"/>
<svn>
    <username param="yanbin"/>
    <password param="123456"/>
</svn>
<logs>
    <logpath path="../logs/resmonitor.log"/>
    <doinglogpath path="../logs/resmonitor_doing.log"/>
    <errorlog path="../logs/resmonitor_error.log"/>
    <pidlog path="../logs/resmonitor.pid"/>
</logs>
</project>