<?xml version="1.0" encoding="UTF-8"?>
<project name="resource monitor config">
<sourcepath path="src/main"/>
<destpath path="src/test"/>
<svn>
    <username param="test"/>
    <password param="password"/>
</svn>
<logs>
    <logpath path="logs/resmonitor.log"/>
    <doinglogpath path="logs/resmonitor_doing.log"/>
    <errorlog path="logs/resmonitor_error.log"/>
</logs>
</project>